@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500&display=swap');

body {
    background-color: #1e1f20;
    color:#ffffff9f;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

li {
    list-style: none;
    margin: 5px 10px;
    font-size: 25px;
}

h1 { 
    font-size: 150px;
    font-weight: 400;
    margin: 0;
}

.section-intro h4 {
    font-weight: 200;
    font-size: 45px;
    margin-top: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
     margin: 8px;
     font-weight: 200;
     font-size: 30px;
     text-align: center;
}

h3 {
    margin: 0;
    font-size: 20px;
}

.subtitle {
    font-size: 50px;
    font-weight: 400;
    margin-top: 15px;
}

.work-details {
    width: 50%;
}

.work-details td {
    padding: 30px;
    font-size: small;
}

a:hover {
    color: #c58282;
}

a:not(.socials-tag) {
    position: relative;
    padding: 0 10px;
}

a:not(.socials-tag)::after {
    content: "";
    position: absolute;
    background-color: #c58282;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

a:hover::after {
    width: 100%;
    color: #c58282;

}

.section-intro {
    text-align: center;
    margin-top: 15vh;
}

.light-text {
    font-weight: 100;
}

header ul {
    display: flex;
    position: relative;
}


.header-hover a::after {
    content: "";
    position: absolute;
    background-color: #c58282;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 12px;
    transition: 0.3s;
}

.header-hover a:hover::after {
    width: 100%;
    color: #c58282;
}

header {
    display:flex;
    justify-content: center;
    height: 75px
}

.socials {
    width: 100px;
    height: 300px;
    background-color: #860b0b;
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 15vh;
}

@media only screen and (max-width: 300px) {
    .socials {
        display: none;
    }

}

table p {
    font-size: 15px;
}

table a{
    font-size: 12px;
    font-weight: 500;
}

.social {
    width: 100px;
    height: 33%;
}

.wave {
    fill: rgb(0, 0, 0);
    width: 100vw;
    height: 46vh;
    position: fixed;
    bottom: 0;
    left: 0;
}

.social svg {
    fill: black;

}

.social a {
    text-decoration: none;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    justify-content: center;
    width: 100vw;
    font-size: small;
    flex-direction: column;
    align-items: center;
}

.about-me {
    width: 60%;
    text-align: center;
}

.about-me img {
    border-radius: 50%;
    height: 200px;
    margin: 40px 10px 10px 10px;
}

.about-me p {
    font-size: 30px;

}

.options {
    display: flex;
}

.options a {
    margin: 20px 10px;
}

a {
    text-decoration: none;
    color:#ffffff9f;
}

footer ul {
    padding: 5px;
    display: flex;
}


@media only screen and (max-width: 600px) {
    .work-details {
        width: 80%;

    }

    .work-details td {

        padding: 5px;
    }
}

.sub-pages-footer {
    position: relative;
}

/*Stack pages*/

.stacks h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 40px;
    padding: 3px;
}

/*contact pages*/

.form-submit {

    width: 50%;
}

.form-submit form {
    width: 100%;
}

.form-submit .form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-control {
    width: 50%;
    font-size: 20px;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
}

.form-row .form-control:focus, 
.form-submit textarea:focus {

    outline: 0;
    background-color: rgb(212, 168, 168);
}

textarea {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding: 0;
    resize: none;
    font-size: 20px;
    margin-top: 5px;
    padding: 8px 0;
}

form button {

    width: 100%;
    background-color: #49cf6b;
    padding: 3px;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {

    .form-submit {
        width: 80%;
    }

    .form-submit .form-row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form-row .form-control {
        width: 100%;
        margin-top: 5px;
    }
}